<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"/>

    <title>Airbnb Cleaning</title>

    <style>
        .inside {
            background-color: #f3f3f3;
        }
    </style>

</head>

<body>
<div class="container">

<ul class="nav">
    <a class="nav-link" href="/">Week</a>
    <a class="nav-link" href="/month">Month</a>
    <a class="nav-link" href="/admin">Admin</a>
</ul>

    <h1>Week View</h1>
    <hr/>

    <div th:each="dayList, stat : ${weekList}">

        <!-- if block determining if today or tomorrow -->
        <span th:if="${stat.index} == 0">
            <h2>Today<small th:text="' - ' + ${weekDates[stat.index]}"></small></h2>
        </span>
        <span th:if="${stat.index} == 1">
            <h2>Tomorrow<small th:text="' - ' + ${weekDates[stat.index]}"></small></h2>
        </span>
        <span th:if="${stat.index} &gt; 1">
            <h2 th:text="${weekDates[stat.index]}"></h2>
        </span>

        <!-- if not empty, display table; display no cleanings message -->
        <div th:if="${!dayList.empty}">
            <table class="table inside">
                <tr th:each="cleaning : ${dayList}">
                    <td th:text="${cleaning.room.name}" class="w-50"></td>
                    <td th:text="${cleaning.notes}"></td>
                </tr>
            </table>
        </div>
        <div th:if="${dayList.empty}">
            <p>No cleanings scheduled</p>
        </div>

        <hr/>
    </div>


</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>
</html>