<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title></title>

    <style>

        table {
            width: 100%;
            border-collapse: collapse;
            }

        th {
            border: 1px solid #eee;
            background-color: #46c;
            color: white;
            padding: 5px;
            }

        td {
            //background-color: #f4f4f4;
            border: 1px solid #ddd;
            padding: 5px;
        }

        .zebra:nth-child(odd) {background-color: #f3f3f3;}

    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"/>

</head>
<body>

<div class="container">

    <ul class="nav">
        <a class="nav-link" href="/">Week</a>
        <a class="nav-link" href="/month">Month</a>
        <a class="nav-link" href="/admin">Admin</a>
    </ul>


    <h1 th:text="${monthString}">January 2018</h1>
    <ul class="nav">
        <a class="nav-link" th:href="'/month?m=' + ${prevMonth}">&lt;prev</a>
        <a class="nav-link" th:href="'/month?m=' + ${nextMonth}">next&gt;</a>
    </ul>


    <div class="table-responsive">
        <table class="table table-striped table-fixed table-sm">

            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" th:each="room : ${roomList}"><span th:text="${room.name}"></span></th>
                <th scope="col">#</th>
                <th scope="col">$</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="dayList, index : ${monthList}">

                <td scope="row" th:text="${index.count}"></td>

                <td th:each="room, rmIndex : ${roomList}">
            <span th:if="${!dayList.empty}">
                <span th:each="cleaning : ${dayList}">
                    <span th:if="${cleaning.room} == ${room}">
                        <span th:if="${cleaning.notes} != ''">
                            <span th:text="${cleaning.notes}"></span>
                        </span>
                        <span th:if="${cleaning.notes} == ''">
                            Clean
                        </span>
                    </span>
                </span>
            </span>
                </td>

                <td th:text="${monthList[index.index].size()}"></td>
                <td th:text="'$' + ${priceList[index.index]}"></td>

            </tr>
            </tbody>

            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" th:each="room : ${roomList}"><span th:text="${room.name}"></span></th>
                <th scope="col">#</th>
                <th scope="col">$</th>
            </tr>
            </thead>

        </table>

        <h3 style="text-align: right" th:text="'Total Price: $' + ${totalPrice}"></h3>

    </div>
</div>
</body>
</html>